* {
    font-family: "JetBrains Mono Nerd Font";
    font-size: 11px;
    border: none;
    border-radius: 0px;
}

window#waybar {
    background-color: rgba(0,0,0,0.2);
    background: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

/* Top Left */
.modules-left{
    margin: 10px 0px 0px 10px;
}

.modules-center{
    margin-top: 10px;
}

/* Top Right */
.modules-right{
    margin: 10px 10px 0px 0px;
}

/* ===================================================== 
 *                     Modules Left 
 * ===================================================== */

 /* App Menu */
#custom-appmenu {
    margin-right: 10px;
    margin-left: 10px;
    color: #1793d1;
    border-radius: 8px;
    transition: all 0.3s ease-out;
    font-size: 18px;
}

#custom-appmenu:hover {
     background-color: rgba(75, 80, 114, 0.3);
    
}

/* Workspaces */
#workspaces {
    min-width: 100px;
    margin-right: 5px;
}

#workspaces button {
    padding: 0px 6px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    min-width: 30px;
    border-top: 1px solid rgba(23, 147, 209, 1);;
}

#workspaces button:hover {
    background-color: rgba(75, 80, 114, 0.1);
}

/* Taskbar */
#taskbar {
    border-radius: 8px;
    font-weight: normal;
    font-style: normal;
    opacity:1.0;
}

#taskbar button {
    margin:0;
    border-radius: 8px;
    padding: 0px 5px 0px 5px;
}

#taskbar button:hover {
    background: alpha(#ffffff,0.1);
    box-shadow: none;
}

#taskbar.empty {
    background:transparent;
    border:0;
    padding:0;
    margin:0;
}

/* ===================================================== 
 *                     Modules Center 
 * ===================================================== */

/* Clock */
#clock {
    border-radius: 8px;
    transition: all 0.3s ease-out;    
}

#clock:hover {
    background-color: rgba(75, 80, 114, 0.3);
    
}

/* ===================================================== 
 *                     Modules Right 
 * ===================================================== */

 #custom-exit, #tray, #battery, #network, #bluetooth, #pulseaudio, #backlight, #memory, #cpu, #temperature, #custom-updates{
    padding: 5px;
 } 


/* Custom Updates */
#custom-updates {
    border-radius: 8px;
    transition: all 0.3s ease-out;    
}

/* Privacy Dots  */
#custom-privacydots {
 font-size: 10px; 
}

/* Hardware Group */
#temperature,#memory,#cpu {
    padding: 5px 
}


/* Backlight */
#backlight {
    border-radius: 8px;
    transition: all 0.3s ease-out;    
}

/* Volume Control */
#pulseaudio {
    border-radius: 8px;
    opacity: 1.0;
    transition: all 0.3s ease-out;    
}

#pulseaudio:hover {
    background-color: rgba(75, 80, 114, 0.3);
    
}

/* Bluetooth */
#bluetooth, #bluetooth.on, #bluetooth.connected {
    border-radius: 8px;
    transition: all 0.3s ease-out;    
}

#bluetooth.off {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

/* Network */
#network {
    border-radius: 8px;
    transition: all 0.3s ease-out;    
}

#network.ethernet:hover {
    background-color: rgba(75, 80, 114, 0.3);
    
}

#network.wifi:hover {
    background-color: rgba(75, 80, 114, 0.3);
    }
    
/* Battery */
#battery {
    border-radius: 8px;
    opacity: 1.0;
    margin-right: 5px;
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery:hover{
background-color: rgba(75, 80, 114, 0.3);
}

/* Tray */
#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}


/* Custom Exit */
#custom-exit {
    margin-right: 10px;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    border-radius: 10px;
    background-color: black;
    padding: 5px;
    margin: 0px;
}


/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    /* margin: 3px 15px 3px 0px; */
    /* padding: 2px 10px 0px 10px; */
    border-radius: 8px;
    font-weight:normal;
}

window#waybar.empty #window {
    background-color:transparent;
}



/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */
#tray,
#custom-privacydots,
#custom-brave,
#custom-updates,
#custom-browser,
#custom-keybindings,
#custom-outlook,
#custom-filemanager,
#custom-teams,
#custom-chatgpt,
#custom-calculator,
#custom-windowsvm,
#custom-cliphist,
#custom-settings,
#custom-wallpaper,
#custom-hyprshade,
#custom-hypridle,
#custom-sidepad,
#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10,
#custom-quicklink_chromium,
#custom-quicklink_edge,
#custom-quicklink_firefox,
#custom-quicklink_browser,
#custom-quicklink_filemanager,
#custom-quicklink_email,
#custom-quicklink_thunderbird,
#custom-quicklink_calculator,
#custom-waybarthemes {
    margin-right: 15px;
}

#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10 {
    margin-right: 24px;
}












